.block {
    --puck-marquee-gap: 1rem;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-block: 2rem;
}

.marquee {
    --duration: 40s;
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    padding: 0.5rem;
    flex-direction: row;
}

.marqueeVertical {
    flex-direction: column;
}

.track {
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    gap: var(--gap);
    flex-direction: row;
    animation: marquee-x var(--duration) linear infinite;
}

.trackVertical {
    flex-direction: column;
    animation-name: marquee-y;
}

.trackReverse {
    animation-direction: reverse;
}

.pauseOnHover:hover .track {
    animation-play-state: paused;
}

@keyframes marquee-x {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@keyframes marquee-y {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(-100% - var(--gap)));
    }
}

@media (prefers-reduced-motion: reduce) {
    .track {
        animation: none;
    }
}
